<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Shop</title>
</head>
<body>
<h2>Our list of products:</h2>
    <ul>
        {% for product in info %}
        <li>
            {{product['Name']}}- ID: {{product['ProductId']}}
            <button><a href={{url_for('prod_details')}}>Check product</a></button>
        </li>
        {% endfor %}
    </ul></body>
</html>