<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Rocio Stanley CV</title>
</head>

<body>
    <h1>Rocio Stanley CV</h1>
    <!img id="profilePic" src="{{url_for('static', filename='profile-img.jpg')}}" align="middle" />
    <div id="cvSections1">
        <div id="details">sty
            <h3>Hobbies</h3>
            <ul>
                <li>Technologies</li>
                <li>Sports</li>
                <li>Cooking</li>
                <li>Family time</li>
            </ul>
        </div>
        <div id="details">
            <h3>Skills</h3>
            <ul>
                <li>Creativity</li>
                <li>Interpersonal Skills</li>
                <li>Problem Solving</li>
                <li>Costumer Service skills</li>
                <li>Teamwork Skills</li>
            </ul>
        </div>
    </div>
    <div id="cvSections2">
        <div id="details">
            <h3>Strengths</h3>
            <ul>
                <li>Adaptability</li>
                <li>Empathetic</li>
                <li>Good judgment ability</li>
                <li>Quick Learner</li>
            </ul>
        </div>
        <div id="details">
            <h3>Weaknesses</h3>
            <ul>
                <li>I have trouble saying “no.”</li>
                <li>I sometimes lack confidence in my potential</li>
                <li>I can have trouble asking for help</li>
                 <li>I have a hard time letting go of a project</li>
            </ul>
        </div>
    </div>
</body>

</html>